body {
    display: grid;
    transform: scale(90%);
    transform-origin: 0 0;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: linear-gradient(#141e30, #243b55);
    color: rgb(255, 255, 255);
}

.container {
    display: grid;
    border: 3px solid #243b55;
    background: linear-gradient(#141e30, #243b55);
    border-radius: 9px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    font-size: 26px;
    font-family: Arial, sans-serif;
    padding: 20px !important;
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
    position: relative;
    color: rgb(255, 255, 255);
}

.book-div {
    margin: auto;
    width: 80%;
    border: 5px solid #243b55;
    padding: 10px;
    margin: 20px;
    border-radius: 15px;
    background: linear-gradient(#141e30, #243b55);
    color: rgb(255, 255, 255);
}

.bookNum {
    color: rgb(255, 255, 255);
}

.book-author {
    color: rgb(148, 148, 148);
}

.book-work {
    color: rgb(133, 130, 130);
}

.book-img {
    display: block;
    border-radius: 8px;
    height: 350px;
    width: 300px !important;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-color: #7abdb7;
}

form {
    position: absolute;
    top: 113%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, .5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
}

.addItems {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.title {
    position: relative;
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.author {
    position: relative;
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.work {
    position: relative;
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.image {
    position: relative;
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.submit {
    position: relative;
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

::placeholder {
    color: rgb(255, 255, 255);
    opacity: 1;
}
